body {
  background-color: #f0f4f8;
 .mrs-sheppards-regular {
  font-family: "Mrs Sheppards", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #2c3e50;
}

p {
  color: #555;
.mrs-sheppards-regular {
  font-family: "Mrs Sheppards", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
